body {
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  line-height: inherit;
}

h1 {
  font-size: 1.6rem;
  line-height: normal;
}

img {
  width: 100%;
  height: auto;
}

.container {
  background-color: blue;
  width: 600px;
  margin: 0 auto;
}
