body {
  font-family: 'Signika', sans-serif;
  font-size: 17px;
  font-weight: lighter;
}



h1 {
  font-family: 'Signika', sans-serif;
  margin-top: 100px;
  font-size: 38px;
  font-weight: bold;
  color: #a68c8d;
  line-height: 10px;
}


h2 {
  font-family: 'Signika', sans-serif;
  font-size: 25px;
  font-weight: normal;
}

h3 {
  font-family: 'Signika', sans-serif;
  margin-top: 3cm;
  font-size: 17px;
  font-weight: normal;
  color: #a68c8d;
  line-height: 0px;
}


p {
  font-family: 'Signika', sans-serif;
  font-weight: lighter;
}

img {
  width: 100%;
  height: auto;
}

.container {
  width: 600px;
  margin: 0 auto;
}

.nav {
  float: left;
  margin-top: 170px;
}

.nav ul {
  line-height: 30px;
  list-style: none;
}

.nav li {
  font-size: 16px;
}

.nav a {
  text-decoration: none;
  color: black;
}

.nav a:hover {
  color: #a68c8d;
}

.image {
  width: 300px;
  height: auto;
  margin-top: 10px;
}

.image2 {
  width: 600px;
  height: auto;
}

.image3 {
  margin-top: 20px;
  width: 290px;
  float: left;
  margin-bottom: 10px;
  max-height: 400px;
}

.image4 {
  margin-top: 20px;
  width: 290px;
  float: right;
  margin-bottom: 10px;
  max-height: 400px;
}



.clearfix {
  clear: both;
}

video {
  height: 350px;
  padding-bottom: 100px;
}


.project {
  padding-bottom: 50px;
}
